@media (max-width: $lg) {
  .container {
    width: $md - 20px;
  }
}

@media (max-width: $md) {
  .container {
    width: $sm - 20px;
  }

  header#main-header {
    .main-nav,
    .ctas {
      display: none;
    }

    .dropdown.mobile {
      display: block;
    }
  }

  section#contact {
    .container.flex {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
  }
}

@media (max-width: $sm) {
  .container {
    width: 100%;
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  section#showcase {
    h1 {
      font-size: 3rem;
    }

    p {
      br {
        display: none;
      }
    }
  }

  section#contact {
    .flex {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
  }
}
